@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/*Isso faz com que qualquer rolagem na página seja suave*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Inclui padding e borda nos cálculos de tamanho */
}

/* Cabeçalho */
header {
    margin: 0;
}

section{
    padding: 200px 50px;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 40px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

/*------------------------------------------------------------*/
/*BOTÃO DE SETA QUE LEVA AO TOPO DA PÁGINA*/
#rolaParaTopo{
    position: fixed;
    bottom: 25px;
    right: 20px;
    font-size: 15px;
    color: white;
    background-color: #696969;
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
    z-index: 1000;
}

#rolaParaTopo:hover{
    transform: scale(1.2);
}

/*------------------------------------------------------------*/
/* MENU - HEADER */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo{
    width: 150px;
    height: auto;
}

.menu-opcoes {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu-opcoes a {
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse */
.menu-opcoes a:hover {
    background-color: #A9A9A9;
    color: #000000;
}

/*IMAGENS DE CONTATO*/
.img-contato{
    display: flex;
    align-items: center;
    margin: 10px;
}

.img-contato img{
    width: 40px;
    height: 40px;
    margin: 20px;
    transition: transform 0.2s ease;
}

.img-contato img:hover{
    transform: scale(1.2); /*Efeito de zoom ao passar o mouse*/
}

/*------------------------------------------------------------*/

/* Estilo para o texto digitado */
#typewriter {
    font-family: 'Courier New', monospace; /* Estilo de máquina de escrever */
    font-size: 40px;
    color: white;
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Oculta o texto que ainda não foi exibido */
    border-right: 2px solid white; /* Cursor piscante */
    animation: blink-cursor 0.7s steps(1) infinite;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 50px auto; /* Centraliza o bloco verticalmente */
    width: fit-content; /* Ajusta a largura do contêiner ao conteúdo */
}

/* Animação do cursor piscante */
@keyframes blink-cursor {
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: white;
    }
}

/*------------------------------------------------------------*/
/*CONFIGURAÇÃO DAS SEÇÕES*/

/* Garantir que cada seção ocupe toda a tela */
.full-page {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 300px;
    opacity: 0; /* Invisível inicialmente */
    transform: scale(0.8) rotateX(15deg); /* Reduzida e inclinada */
    transition: opacity 0.8s ease, transform 0.8s ease; /* Animação suave */
}

.full-page.visible {
    opacity: 1; /* Torna visível */
    transform: scale(1) rotateX(0); /* Retorna ao tamanho original e ângulo normal */
}

/* Personalizando cada seção */
.section-sobre {
    scroll-margin-top: 135px;
    /*background: linear-gradient(135deg, #696969, #D3D3D3);*/
    color: white;
}

.section-projetos {
    scroll-margin-top: 135px;
    /*background: linear-gradient(135deg, #696969, #D3D3D3);*/
    color: white;
}

.section-curriculo {
    scroll-margin-top: 135px;
    /*background: linear-gradient(135deg, #696969, #D3D3D3);*/
    color: white;
}
/*------------------------------------------------------------*/