@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/*Isso faz com que qualquer rolagem na página seja suave*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFAFA;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Inclui padding e borda nos cálculos de tamanho */
}

/* Cabeçalho */
header {
    margin: 0;
}

section{
    padding: 200px 50px;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------------------------------*/
/*BOTÃO DE SETA QUE LEVA AO TOPO DA PÁGINA*/
#rolaParaTopo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
    z-index: 1000;
}

#rolaParaTopo:hover{
    transform: scale(1.2);
}

/*------------------------------------------------------------*/
/* MENU - HEADER */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    width: 150px;
    height: auto;
}

.menu-opcoes {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px 100px;
}

.menu-opcoes a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

/*IMAGENS DE CONTATO*/
.img-contato{
    display: flex;
    align-items: center;
}

.img-contato img{
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: transform 0.2s ease;
}

.img-contato img:hover{
    transform: scale(1.2); /*Efeito de zoom ao passar o mouse*/
}

/* Efeito ao passar o mouse */
.menu-opcoes a:hover {
    background-color: #E53935;
}

/*------------------------------------------------------------*/

.section-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-intro h2{
    padding: 20px;
    font-size: 2rem;
}

.section-intro p{
    font-size: 1rem;
}

/*------------------------------------------------------------*/
/*SEÇÃO SOBRE MIM*/

.section-sobre{
}

/*------------------------------------------------------------*/